.o-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    margin: 0 5em 2em 2em;
}

.o-content-image{
    width: 60%;
}

.o-logo{
    width: 30%;
    margin: .8em;
}

#menu-toggle {
    display: none;
}

.o-menu-button-container {
    display: none;
    height: 5%;
    width: 30px;
    z-index: 5;
    cursor: pointer;
    margin: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    align-self: flex-start;
    z-index: 3000;
}

.o-menu-button,
.o-menu-button::before,
.o-menu-button::after {
    display: block;
    background-color:var(--menu_button_color);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.o-menu-button::before {
    content: '';
    margin-top: -8px;
}
  
.o-menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .o-menu-button-container .o-menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .o-menu-button-container .o-menu-button {
    background:transparent;
}

#menu-toggle:checked + .o-menu-button-container .o-menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

/*quitando el sacroll de el poppup que muestra el menu*/
body > div > div{
    overflow-y: hidden !important;
}
  

.o-menu {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    justify-content: space-between;
    list-style: none;
}

.o-menu a{  
    font-weight:bold; 
    margin: 1.2em;
    color: var(--header_color_text);
    text-decoration: none;
} 

.o-menu a:hover{
    color: var(--menu_option_hover_color);
}

.o-menu .active{
    border-bottom: .1em solid var(--menu_option_active_color);
    padding-bottom: 5px;
}


.o-mobile-menu {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.o-mobile-menu li {
    height: 1.5em;
    padding: 0.5em;
    color: var(--text_menu_color);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.o-mobile-menu a{
    display: block;
    color:var(--text_menu_color);
    text-decoration: none;
    margin: 1em 0;
    font-weight:bold; 
}

.o-mobile-menu .active{
    border-bottom: .1em solid var(--menu_option_active_color);
}



@media only screen and (max-width: 767px){
    .o-logo{
        margin: .2em;
    }

    .o-menu {
        display: none;
    }

    .o-menu-button-container {
        display: flex;
        right: .5vh;        
    }

    .o-nav-container{
      margin: .3em  .2em 5em;
  }
    
}


@media only screen and (min-width: 768px) and (max-width: 1024px){
    .o-nav-container{
        font-size: .8em;
        margin: 1em .2em;
    }
    
    .logo{
        width: 30%;
    }
    
    .o-logo{
        margin:0 0 0 .2em;
    }  

    .o-menu a{
      margin: 0 1em 0 0;
    } 
  
    .o-menu {
      width: 70%;
    }
}